.embed {
	border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 4px #888888;
	margin:30px;
}

.page-list a {
	text-decoration: none;
}

.page-list h3 {
	font-size: 1rem;
}

.su-subpages a {
    text-decoration:none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: lightgray;
    color: #000;
    text-align: left;
    border-radius: 2%;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


table {
	width: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 15px;
    text-align: left;
}

.slideshow {
	position: relative;
	overflow: hidden;
    padding-bottom: 75%;
}

.slideshow iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}


.video {
	position: relative;
	overflow: hidden;
    padding-bottom: 50%;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #999;
    width: 80%;
    margin: auto;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0; 
    border: 15px solid #eee;
}

.page-embed {
	position: relative;
	overflow: hidden;
    padding-bottom: 140%;
}

.page-embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

.article-embed {
	position: relative;
	overflow: hidden;
    padding-bottom: 140%;
}

.article-embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

.audio {
	position: relative;
	overflow: hidden;
    padding-bottom: 18%;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #999;
    width: 60%;
    margin: auto;
}

.audio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;  
}

h2.calendar {
	background-color: #eee;
    padding: 10px;
    width: fit-content;
	border-radius: 5px;
	box-shadow: 2px 2px 5px lightgray;
}

h3.calendar {
	padding-left: 1em;
	padding-top: 2ex;
	text-decoration: underline;
	text-decoration-color: #ccc;
	
}

.wp-post-image {
	border-radius: 20px;
	box-shadow: 2px 2px 6px gray;
}

main article a {
	padding: 5px;
}

.wpd-comment-author a {
	padding: 2px;
}

.wpd-thread-wrapper, .wpd-form-wrap {
	width: 90%;
	margin: auto;
}

main article a:hover, .wpd-comment-author a:hover {
	text-decoration: none;
	background-color: #fee;
	box-shadow: 2px 2px 6px #bbb;
}

.wpd-comment-text p {

    text-indent: 2em;
}

.wp-post-image-link:hover{
	background-color: white;
	box-shadow: none;
}

.fbc-items a{
	padding: 5px;
}

.fbc-items a:hover{
	text-decoration: none;
	background-color: #ddd;
}

.embedly-card-hug {
	border: 1px solid gray;
	border-radius: 10px;
	box-shadow: 2px 2px 6px gray;
	padding: 10px !important;
	margin: 30px auto !important;
}

.hot-random-image {
    border-radius: 10px;
}

.attention {
    display: inline-block;
    border-radius: 10px;
    background-color: #fee;
    padding: 5px;
    box-shadow: 2px 2px 6px gray;
    margin-bottom: 15px;
}

.emoji {
    font-size: 150%;
}

.subpages-page-list, .children, .su-subpages{
    list-style-type: none;
}

.infobox {
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    background-color: #fed;
    border-radius: 15px;
    border: 2px solid gray;
    box-shadow: 2px 2px 7px lightgray;
}

.date-list {
list-style-type: none;
}

.date-list>li {

    font-weight: bold;
    padding-top: 15px;

}


.comment-content p {
    padding: 20px;
}

@media only screen and (max-width: 700px) {
    ul.children {
        margin-left: 0;
    }

    .infobox {
        padding: 5px;
        margin: 5px auto;
        max-width: 100%;
        box-shadow: none;
    }
}


@media(min-width: 700px) {
	
	.nav-previous, .nav-next, .archive-header {
    	background: none !important;
    }
	
	article {
    	border-radius: 10px;
    	box-shadow: 2px 2px 6px gray;
    }

    .comments-area {
	    border-radius: 10px;
	    box-shadow: 2px 2px 6px gray;
    }

    .widget-area section {
	    border-radius: 10px;
	    box-shadow: 2px 2px 6px gray;
    }
}


.wp-block-latest-comments__comment {
    padding: 1rem;

}

.this-section-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.stats-container{
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;
    border: 1px dashed lightsteelblue;
    box-shadow: 2px 2px 6px gray;
}

.stats-container h3 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.stats-tabs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats-tabs .tab {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;   
    margin: 10px;

}

iframe[src*="delivery"] {
    display: none;
}

#ad4e761c {
display: none;
}

